.principal{
    margin-left: 10%;
    width: 80% ;
    height: auto;overflow: hidden;
    border:1px solid; 

}

.hijo1{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;

}

.margin-bot{
    margin-bottom: 3%;
}

.margin-bot-new{
    margin-bottom: 1%;
}

.order{
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.order-up{
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
}

.top{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.flotante{
    float: left;
}

.organizar{

    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
    height: auto;overflow: hidden;

}

.margen{
    margin-top: 1%;
    
}

.imagen{
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.margin-top{
    margin-top: 10%;
}
.margin-left{
    margin-left: 20px;
}

