<div class="principal">


  <div class="order">


      <form [formGroup] = "userForm" (ngSubmit)=   "onSaveForm()">

        <div class="margin-bot">

            <label >Nombre:</label>
            <input type="text" class="form-control"  formControlName = "nombre" placeholder="Juan">
        
        </div>

        <div class="margin-bot">

            <label >Teléfono de contacto:</label>
            <input type="text" class="form-control"  formControlName = "telefono" placeholder="555-55-55">
        
        </div>

        <div class="margin-bot">

            <label >E-mail del contacto:</label>
            <input type="text" class="form-control"  formControlName = "correo" placeholder="gerencia@vecajudi.com.co">
        
        </div>

        <div class="margin-bot">

            <label >Mensaje:</label>
            <textarea type = "text"class="form-control" rows="3" formControlName = "mensaje" placeholder="Estoy interesado...">

            </textarea>
        
        </div>


        <div class="margin-bot">
            <div class="row">

                <div class="col-md-6">

                    <button type="submit" class="btn btn-primary margin-bot">Enviar</button>

                </div>

                <div class="col-md-6">

                    <button type="button" class="btn btn-primary margin-bot" (click) = "resetForm()">Borrar</button>

                </div>

            </div>

        </div>
      </form>

  </div>



</div>